<h1> This is Sign Up page</h1>
<form action="/users/create" method="POST">
    <input type="test" name="name" placeholder="Your name" autofocus required>
    <input type="email" name="email" placeholder="Your Email-Id" autofocus required>
    <input type="password" name="password" placeholder="Enter Password" autofocus required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" autofocus required>
    <input type="submit" value="Sign-Up">
</form>